<nav class="navbar">
    <div class="navbar-container">
        <div class="ui-g">
            <div class="ui-g-10">
                <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
            </div>
            <div>
                <m-language-selector></m-language-selector>
            </div>
        </div>
        <ul class="navbar-menu" [hidden]="!exibindoMenu">
            <li class="navbar-usuario">José da Silva</li>
            <li *ngFor="let item of menu.items" class="navbar-menuitem"><a [routerLink]="item.page" [routerLinkActive]="item.active ? 'selected' : '' ">{{ item.title | translate }}</a></li>
            
        </ul>
    </div>
</nav>