<div class="container">
  <form novalidate [formGroup]="filterForm" (ngSubmit)="search()" autocomplete="off">

    <div class="ui-g-12">
      <h1>{{ 'MENU.ACCOUNTING_ENTRY' | translate }}</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>{{ 'FIELD.DESCRIPTION' | translate }}</label>
      <input pInputText type="text" formControlName="descricao">
    </div>

    <div class="ui-g-12">
      <label style="display: block;">{{ 'FIELD.VALIDITY' | translate }}</label>
      <p-calendar formControlName="validadeDe" [dateFormat]="locale.dateFormat" [locale]="locale">
      </p-calendar>
      <label>{{ 'FIELD.UNTIL' | translate }}</label>
      <p-calendar formControlName="validadeAte" [dateFormat]="locale.dateFormat" [locale]="locale">
      </p-calendar>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" [label]="'BUTTON.SEARCH' | translate"></button>
    </div>

    <div class="ui-g-12">
      <app-datatable [data]="lancamentos" [columns]="columns" [resp]="true" [isLoading]="tableStatus"
        (action1)="remover()" [pag]="true" [rows]="this.pagination.getSize()" [lazy]="true" [totalRecords]="this.pagination.getTotal()" (onChangePage)="setPage($event)"></app-datatable>
    </div>

    <div class="ui-g-12">
      <a pButton [routerLink]="['add']" [label]="'BUTTON.NEW_ACCOUNTING_ENTRY' | translate"></a>
    </div>

  </form>
</div>