<div class="container">
  <form class="m-form m-form--label-align-right m-form--fit" novalidate [formGroup]="filterForm" (ngSubmit)="search()">
    <div class="ui-g-12">
      <h1>{{ 'MENU.ACCOUNTING_ENTRIES' | translate }}</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>{{ 'FIELD.DESCRIPTION' | translate }}</label>
      <input pInputText type="text" formControlName="descricao">
    </div>

    <div class="ui-g-12">
      <label style="display: block;">{{ 'FIELD.VALIDITY' | translate }}</label>
      <input pInputText type="text" style="width: 95px;" formControlName="validadeDe">
      <label>{{ 'FIELD.UNTIL' | translate }}</label>
      <input pInputText type="text" style="width: 95px;" formControlName="validadeAte">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" [label]="'BUTTON.SEARCH' | translate"></button>
    </div>

    <div class="ui-g-12">
      <app-datatable [data]="lancamentos" [columns]="columns" [pag]="true" [rows]="3" [resp]="true"
        [isLoading]="tableStatus" (action1)="remover()"></app-datatable>
    </div>

    <div class="ui-g-12">
      <a pButton [routerLink]="['add']" [label]="'BUTTON.NEW_ACCOUNTING_ENTRY' | translate"></a>
    </div>

  </form>
</div>