/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51;
}

label {
    font-weight: bold;
}

@media( min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

.col-valor {
    width: 120px;
    text-align: right;
}

.col-data {
    width: 120px;
    text-align: center;
}

.col-acoes {
    width: 100px;
    text-align: center;
}

button {
    margin-right: 5px !important;
}

.ui-button-info {
    background-color: #00BFFF !important;
    border-color: #00BFFF !important;
}

.select-button {
    padding: .5em 1em !important;
}

.form-error {
    color: #f4516c
}